<!doctype html>
<html>
    <head>
    
        <title>Lab 2</title>
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">        
        <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/navigation.css')}}">

    </head>
    
    <body>

        <nav class="navbar">
            <div class="logo">Visualization Lab 2</div>            
            <ul class="nav-links">
                <div class="menu">
                    <li><a href="/">Data</a></li>
                    <li><a href="/parallel_plot">PCP plot</a></li>
                    <li class = "active"><a href="/mds_data_plot">MDS Data Plot</a></li>
                    <li><a href="/mds_variable_plot">MDS Variables Plot</a></li>
                    <li><a href="/kmeans">K-Means </a></li>
                </div>
            </ul>
        </nav>

        <h2 class="title"></h2>
        <div id="mdsdata" style="text-align: center;"></div>
    <script>



        d3.select(".title").text("MDS Data Plot");
        var da = {{data|tojson}};

        var margin = {top: 50, right: 20, bottom: 120, left: 120};
        var widthContainer = 550, heightContainer = 550;
        var colorsK = ["#764bdb","#4FC1E8","#81CC31","#FCBA12","#ED5564"];


        const effective_width= widthContainer - margin.left - margin.right;
        const effective_height= heightContainer - margin.top - margin.bottom;

        var svg = d3.select("#mdsdata")
                    .append("svg")
                    .attr("width", widthContainer)
                    .attr("height", heightContainer)
                    .append("g")
                    .attr("transform",
                          "translate(" + margin.left + "," + margin.top + ")");


        var tooltip = d3.select("#mdsdata")
            .append("div")
            .style("opacity", 0)
            .attr("class", "tooltip")
            .style("border", "2px solid black")
            .style("border-radius", "5px")
            .style("padding", "10px")
            .style("color", "#192E47")
            .style("position" ,"absolute")


        var hideTooltip = function(d) {
                tooltip
                    .transition()
                    .duration(200)
                    .style("opacity", 0)
        }
        
              
        var pc1 = da["top_two_features"].map(function(i) {return i[0]});
        var pc2 = da["top_two_features"].map(function(i) {return i[1]});

        var xScale = d3.scaleLinear()
                    .domain([d3.min(pc1), d3.max(pc1)])
                    .range([0, effective_width])
        
        var yScale = d3.scaleLinear()
            .range([effective_height, 0])
            .domain([d3.min(pc2), d3.max(pc2)]);

        svg.append("g").call(d3.axisLeft(yScale));
        svg.append("text")
                    .attr("transform", "rotate(-90)")
                    .attr("y", -margin.left)
                    .attr("x",- effective_height/ 2)
                    .attr("dy", "3em")
                    .attr("class", "axis-label")
                    .text("Component 2");
        
        svg.append("g")
        .attr("transform", "translate(0," + (heightContainer - margin.top - margin.bottom) + ")")
        .call(d3.axisBottom(xScale));

        svg.append("text")
            .attr("transform", "translate(" + effective_width/ 2 + " ," + (heightContainer - margin.bottom + 20) + ")")
            .attr("class", "axis-label")
            .text("Component 1");


        svg.append("g")
                        .selectAll("dot")
                        .data(pc1)
                        .enter()
                            .append("circle")
                            .attr("cx", function(d, i) { return xScale(pc1[i])})
                            .attr("cy", function(d, i) { return yScale(pc2[i])})
                            .attr("r", 5)
                            .style("fill", function(d,i) {return colorsK[da["colors"][i]]});
        

        var legendItemSize = 12;
        var legendSpacing = 5;
        var xOffset = 150;
        var yOffset = 0;
        
        var legend = d3.select("#mdsdata")
                    .append('svg')
                    .attr("width", 300)
                    .attr("height", 300)
                    .style("margin-bottom", 100)
                    .selectAll('.legendItem')
                    .data(colorsK);
        
        //Create legend items
        legend
        .enter()
        .append('rect')
        .attr('class', 'legendItem')
        .attr('width', legendItemSize)
        .attr('height', legendItemSize)
        .style('fill', d => d)
        .attr('transform',
                        (d, i) => {
                            var x = xOffset;
                            var y = yOffset + (legendItemSize + legendSpacing) * i;
                            return `translate(${x}, ${y})`;
                        });
        
        //Create legend labels
        legend
        .enter()
        .append('text')
        .attr('x', xOffset + legendItemSize + 5)
        .attr('y', (d, i) => yOffset + (legendItemSize + legendSpacing) * i + 12)
        .text((d, i) => "Cluster " + (i+1));  


      </script>
   </body>
</html>