<html>
    
    <head>
    
        <title>Lab 1</title>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
        <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/navigation.css')}}">
      
    </head>

    <body>
        <nav class="navbar">
            <div class="logo">Visualization Lab 2</div>            
            <ul class="nav-links">
                <div class="menu">
                    <li class = "active"><a href="/">Data</a></li>
                    <li><a href="/pca">Scree-Plot</a></li>
                    <li><a href="/biplot">Bi-Plot</a></li>
                    <li><a href="/scatterplot">Scatter-Plot Matrix </a></li>
                    <li><a href="/kmeans">K-Means </a></li>
                </div>
            </ul>
        </nav>

        <div style="width: 80%; margin-left: 5%; margin-top: 2%;">
            
            The project provides an interactive visualization of Seattle Airbnb Open Data made publically available by Kaggle.

The dataset contains Seattle Airbnb listings, ratings, and related data.
        
            <br><br>The following are the definitions of the attributes in the sampled data:<br/>
            
            <br>
            <ul><b>Numeric Variables</b>
                <li><b><text style ="color:#2e8083">Accommodates </text></b> - The number of people/guests that can stay on the property.</li>
                <li><b><text style = "color:#2e8083">Bathrooms  </text></b>- The number of restrooms available in the house.</li>
                <li><b><text style= "color: #2e8083">Bedrooms  </text></b>- The number of bedrooms in the house.</li>
                <li><b><text style= "color: #2e8083">Price  </text></b>- Price of the property in dollars per day.</li>
                <li><b><text style= "color: #2e8083">Minimum Nights </text></b>- Minimum number of days the property needs to be booked.</li>
                <li><b><text style= "color: #2e8083">Number Of Reviews </text></b>- Number of reviews available on the property. </li>
                <li><b><text style= "color: #2e8083">Review Score Ratings </text></b>- The ratings of the property given by the previous customers.</li>
                <li><b><text style= "color: #2e8083">Review Score Cleanliness </text></b>- The cleanliness rating of the property.</li>
                <li><b><text style= "color: #2e8083">Review Score Location </text></b>- The ratings of the location of the property.</li>
            </ul>


            <br>
            <ul><b>Categorical Variables</b>
                <li><b><text style ="color:#2e8083">Neighborhood  </text></b> - The neighborhood of the property is located in the Seatle.</li>
                <li><b><text style = "color:#2e8083">Zipcode   </text></b>- The zipcode of the property. </li>
                <li><b><text style= "color: #2e8083">Property type </text></b>- The type of property. It includes values such as apartments, condominiums, bungalows, Cabins, etc.</li>
                <li><b><text style= "color: #2e8083">Room Type </text></b>- The type of room in the property. It includes values like Shared Rooms, Private rooms, and the entire house.</li>
                <li><b><text style= "color: #2e8083">Host Response Time </text></b>- The time is taken by the house to reply. The categorical values are within an hour, day, etc.</li>
                <li><b><text style= "color: #2e8083">Cancellation Policy </text></b>- It consists of values such as strict, moderate, flexible. </li>
                <li><b><text style= "color: #2e8083">Bed Type </text></b>-  It describes the type of bed. The value consists of Couch, Futon, Real Bed, and Pull Bed.</li>
            </ul>

        </div>
        
    </body>
</html>